.site-header {
  padding: 8px;
  background: #bfbcbc;
  border-bottom: 2px solid #808080;

  display: flex;
  align-items: center;
}

.site-header b {
  font-size: 14px;
}

.nav {
  display: flex;
  gap: 1px;
}

.nav a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
}

.nav a:hover {
  text-decoration: underline;
}

/* WINDOWS */
.window {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;
  margin-bottom: 10px;
  box-shadow:
    1px 1px 0 #dfdfdf,
    2px 2px 0 #808080;
}

.title-bar {
  background: #1c2175;
  color: white;
  padding: 4px 2px;
  font-weight: bold;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  background: #e2dcdc;
  padding: 8px;
  font-size: 12px;
}

.window-content p {
  margin: 4px 0;
}

.window-content ul {
  margin: 5px 0;
  padding-left: 20px;
}

.window-content li {
  margin: 3px 0;
}

/* BOTONES */
button {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;
  padding: 4px 12px;
  font-size: 11px;
  cursor: pointer;
  font-family: "MS Sans Serif", Arial, sans-serif;
}

button:active {
  border-color: #404040 #fff #fff #404040;
}

input[type="text"],
.search-box {
  border: 2px inset #808080;
  padding: 3px 4px;
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 11px;
}

.avatar {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #808080;
}

.post .title-bar a {
  color: white;
  text-decoration: none;
}

.post .title-bar a:hover {
  text-decoration: underline;
}

.sidebar {
  width: 250px;
  padding: 0px;
}

.sidebar .window {
  margin-bottom: 8px;
}

.post-preview-link {
  color: inherit;
  display: block;
  text-decoration: none;
}

.post-preview-link:hover {
  text-decoration: none;
}
