body {
  margin: 0;
  background: #c0c0c0;
  font-family: "MS Sans Serif", Arial, sans-serif;
}


/* MENU */
.ie-menu {
  padding: 4px 6px;
  border-bottom: 1px solid #808080;
}

/* TOOLBAR */
.ie-toolbar {
  padding: 4px;
  border-bottom: 1px solid #808080;
}

.ie-toolbar button {
  margin-right: 4px;
}

/* ADDRESS */
.ie-address-bar {
  display: flex;
  gap: 6px;
  padding: 4px;
  border-bottom: 2px solid #808080;
}

.ie-address-bar input {
  flex: 1;
  border: 2px inset #808080;
  padding: 2px;
}

/* CONTENT */
.ie-content {
  flex: 1;
  overflow: auto;
}

/* HEADER */
.site-header {
  padding: 8px;
  background: #c0c0c0;
  border-bottom: 2px solid #808080;

  display: flex;
  align-items: center;
}

.nav a {
  margin-left: 10px;
}

/* LAYOUT */
.content {
  display: flex;
}

.sidebar {
  width: 220px;
  padding: 10px;
}

.main {
  flex: 1;
  padding: 10px;
}

/* WINDOWS */
.window {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #404040 #404040 #fff;
  margin-bottom: 10px;
}

.title-bar {
  background: #000080;
  color: white;
  padding: 4px;
  font-weight: bold;
}

.window-content {
  background: #fff;
  padding: 8px;
}

/* POSTS */
.post a {
  color: white;
  text-decoration: none;
}

/* LINKS */
a {
  color: blue;
}

/* IMAGE */
.avatar {
  width: 100%;
  margin-bottom: 5px;
}

/* PAGE */
.page {
  width: 1000px;
  margin: 20px auto;
}

/* BREADCRUMB */
.breadcrumb {
  padding: 6px;
  margin-bottom: 10px;
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
}

/* LAYOUT */
.layout {
  display: flex;
  gap: 15px;
}

/* MAIN CONTENT */
.post-content {
  flex: 1;
  background: #fff;
  padding: 10px;
  border: 2px solid #808080;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
}

/* SECTION IMAGE + TEXT */
.post-section {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.post-image {
  width: 300px;
  border: 2px inset #808080;
}

/* SEARCH */
.search-box {
  width: 100%;
  margin-bottom: 5px;
}